custom_model/model.safetensors filter=lfs diff=lfs merge=lfs
data/Scan/Scan_7.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_13.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_11.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_3.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_14.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_4.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_12.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_0.nii.gz filter=lfs diff=lfs merge=lfs
data/Scan/Scan_19.nii.gz filter=lfs diff=lfs merge=lfs